<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aaSign-khmer</key>
	<string>aaS_ign-khmer.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.asc</key>
	<string>acutecomb.asc.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeSign-khmer</key>
	<string>aeS_ign-khmer.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ahsda-khmer</key>
	<string>ahsda-khmer.glif</string>
	<key>aiSign-khmer</key>
	<string>aiS_ign-khmer.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atthacan-khmer</key>
	<string>atthacan-khmer.glif</string>
	<key>auSign-khmer</key>
	<string>auS_ign-khmer.glif</string>
	<key>avakrahasanya-khmer</key>
	<string>avakrahasanya-khmer.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>ba-khmer</key>
	<string>ba-khmer.glif</string>
	<key>ba-khmer.post</key>
	<string>ba-khmer.post.glif</string>
	<key>ba_aaSign-khmer</key>
	<string>ba_aaS_ign-khmer.glif</string>
	<key>ba_aaSign-khmer.post_</key>
	<string>ba_aaS_ign-khmer.post_.glif</string>
	<key>ba_auSign-khmer</key>
	<string>ba_auS_ign-khmer.glif</string>
	<key>ba_auSign-khmer.post_</key>
	<string>ba_auS_ign-khmer.post_.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bantoc-khmer</key>
	<string>bantoc-khmer.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bariyoosan-khmer</key>
	<string>bariyoosan-khmer.glif</string>
	<key>bathamasat-khmer</key>
	<string>bathamasat-khmer.glif</string>
	<key>beyyal-khmer</key>
	<string>beyyal-khmer.glif</string>
	<key>blackCircle</key>
	<string>blackC_ircle.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ca-khmer</key>
	<string>ca-khmer.glif</string>
	<key>ca-khmer.below</key>
	<string>ca-khmer.below.glif</string>
	<key>ca_aaSign-khmer</key>
	<string>ca_aaS_ign-khmer.glif</string>
	<key>ca_auSign-khmer</key>
	<string>ca_auS_ign-khmer.glif</string>
	<key>camnucpiikuuh-khmer</key>
	<string>camnucpiikuuh-khmer.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cha-khmer</key>
	<string>cha-khmer.glif</string>
	<key>cha-khmer.below</key>
	<string>cha-khmer.below.glif</string>
	<key>cha_aaSign-khmer</key>
	<string>cha_aaS_ign-khmer.glif</string>
	<key>cha_auSign-khmer</key>
	<string>cha_auS_ign-khmer.glif</string>
	<key>cho-khmer</key>
	<string>cho-khmer.glif</string>
	<key>cho-khmer.post</key>
	<string>cho-khmer.post.glif</string>
	<key>cho_aaSign-khmer</key>
	<string>cho_aaS_ign-khmer.glif</string>
	<key>cho_aaSign-khmer.post_</key>
	<string>cho_aaS_ign-khmer.post_.glif</string>
	<key>cho_auSign-khmer</key>
	<string>cho_auS_ign-khmer.glif</string>
	<key>cho_auSign-khmer.post_</key>
	<string>cho_auS_ign-khmer.post_.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.case</key>
	<string>circumflexcomb.case.glif</string>
	<key>co-khmer</key>
	<string>co-khmer.glif</string>
	<key>co-khmer.below</key>
	<string>co-khmer.below.glif</string>
	<key>co_aaSign-khmer</key>
	<string>co_aaS_ign-khmer.glif</string>
	<key>co_auSign-khmer</key>
	<string>co_auS_ign-khmer.glif</string>
	<key>coeng-khmer</key>
	<string>coeng-khmer.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>da-khmer</key>
	<string>da-khmer.glif</string>
	<key>da-khmer.below</key>
	<string>da-khmer.below.glif</string>
	<key>da-khmer.below.ro</key>
	<string>da-khmer.below.ro.glif</string>
	<key>da_aaSign-khmer</key>
	<string>da_aaS_ign-khmer.glif</string>
	<key>da_auSign-khmer</key>
	<string>da_auS_ign-khmer.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>daggerdblsuperior</key>
	<string>daggerdblsuperior.glif</string>
	<key>daggersuperior</key>
	<string>daggersuperior.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>do-khmer</key>
	<string>do-khmer.glif</string>
	<key>do-khmer.below</key>
	<string>do-khmer.below.glif</string>
	<key>do_aaSign-khmer</key>
	<string>do_aaS_ign-khmer.glif</string>
	<key>do_auSign-khmer</key>
	<string>do_auS_ign-khmer.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>downArrow</key>
	<string>downA_rrow.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eSign-khmer</key>
	<string>eS_ign-khmer.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight-khmer</key>
	<string>eight-khmer.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.numr</key>
	<string>eight.numr.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emptyset</key>
	<string>emptyset.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>euro.part</key>
	<string>euro.part.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five-khmer</key>
	<string>five-khmer.glif</string>
	<key>five.dnom</key>
	<string>five.dnom.glif</string>
	<key>five.numr</key>
	<string>five.numr.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four-khmer</key>
	<string>four-khmer.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.asc</key>
	<string>gravecomb.asc.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>ha-khmer</key>
	<string>ha-khmer.glif</string>
	<key>ha-khmer.below</key>
	<string>ha-khmer.below.glif</string>
	<key>ha-khmer.below2</key>
	<string>ha-khmer.below2.glif</string>
	<key>ha_aaSign-khmer</key>
	<string>ha_aaS_ign-khmer.glif</string>
	<key>ha_auSign-khmer</key>
	<string>ha_auS_ign-khmer.glif</string>
	<key>hookabovecomb.case</key>
	<string>hookabovecomb.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iMark-khmer</key>
	<string>iM_ark-khmer.glif</string>
	<key>iMark-khmer.narrow</key>
	<string>iM_ark-khmer.narrow.glif</string>
	<key>iMark-khmer.small</key>
	<string>iM_ark-khmer.small.glif</string>
	<key>iMark_toandakhiat-khmer</key>
	<string>iM_ark_toandakhiat-khmer.glif</string>
	<key>iMark_toandakhiat-khmer.narrow</key>
	<string>iM_ark_toandakhiat-khmer.narrow.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>ieSign-khmer</key>
	<string>ieS_ign-khmer.glif</string>
	<key>ieSign-khmer.below2</key>
	<string>ieS_ign-khmer.below2.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>iiMark-khmer</key>
	<string>iiM_ark-khmer.glif</string>
	<key>iiMark-khmer.narrow</key>
	<string>iiM_ark-khmer.narrow.glif</string>
	<key>iiMark-khmer.small</key>
	<string>iiM_ark-khmer.small.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>ka-khmer</key>
	<string>ka-khmer.glif</string>
	<key>ka-khmer.below</key>
	<string>ka-khmer.below.glif</string>
	<key>ka_aaSign-khmer</key>
	<string>ka_aaS_ign-khmer.glif</string>
	<key>ka_auSign-khmer</key>
	<string>ka_auS_ign-khmer.glif</string>
	<key>kakabat-khmer</key>
	<string>kakabat-khmer.glif</string>
	<key>kakabat-khmer.small</key>
	<string>kakabat-khmer.small.glif</string>
	<key>kha-khmer</key>
	<string>kha-khmer.glif</string>
	<key>kha-khmer.below</key>
	<string>kha-khmer.below.glif</string>
	<key>kha_aaSign-khmer</key>
	<string>kha_aaS_ign-khmer.glif</string>
	<key>kha_auSign-khmer</key>
	<string>kha_auS_ign-khmer.glif</string>
	<key>khan-khmer</key>
	<string>khan-khmer.glif</string>
	<key>kho-khmer</key>
	<string>kho-khmer.glif</string>
	<key>kho-khmer.post</key>
	<string>kho-khmer.post.glif</string>
	<key>kho_aaSign-khmer</key>
	<string>kho_aaS_ign-khmer.glif</string>
	<key>kho_aaSign-khmer.post_</key>
	<string>kho_aaS_ign-khmer.post_.glif</string>
	<key>kho_auSign-khmer</key>
	<string>kho_auS_ign-khmer.glif</string>
	<key>kho_auSign-khmer.post_</key>
	<string>kho_auS_ign-khmer.post_.glif</string>
	<key>ko-khmer</key>
	<string>ko-khmer.glif</string>
	<key>ko-khmer.below</key>
	<string>ko-khmer.below.glif</string>
	<key>ko_aaSign-khmer</key>
	<string>ko_aaS_ign-khmer.glif</string>
	<key>ko_auSign-khmer</key>
	<string>ko_auS_ign-khmer.glif</string>
	<key>koomuut-khmer</key>
	<string>koomuut-khmer.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>la-khmer</key>
	<string>la-khmer.glif</string>
	<key>la_aaSign-khmer</key>
	<string>la_aaS_ign-khmer.glif</string>
	<key>la_auSign-khmer</key>
	<string>la_auS_ign-khmer.glif</string>
	<key>leftArrow</key>
	<string>leftA_rrow.glif</string>
	<key>leftRightArrow</key>
	<string>leftR_ightA_rrow.glif</string>
	<key>lektoo-khmer</key>
	<string>lektoo-khmer.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lo-khmer</key>
	<string>lo-khmer.glif</string>
	<key>lo-khmer.below</key>
	<string>lo-khmer.below.glif</string>
	<key>lo_aaSign-khmer</key>
	<string>lo_aaS_ign-khmer.glif</string>
	<key>lo_auSign-khmer</key>
	<string>lo_auS_ign-khmer.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>ly-khmer</key>
	<string>ly-khmer.glif</string>
	<key>lyy-khmer</key>
	<string>lyy-khmer.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>mo-khmer</key>
	<string>mo-khmer.glif</string>
	<key>mo-khmer.below</key>
	<string>mo-khmer.below.glif</string>
	<key>mo-khmer.below.ro</key>
	<string>mo-khmer.below.ro.glif</string>
	<key>mo-khmer.below2</key>
	<string>mo-khmer.below2.glif</string>
	<key>mo_aaSign-khmer</key>
	<string>mo_aaS_ign-khmer.glif</string>
	<key>mo_auSign-khmer</key>
	<string>mo_auS_ign-khmer.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>muusikatoan-khmer</key>
	<string>muusikatoan-khmer.glif</string>
	<key>muusikatoan-khmer.ro</key>
	<string>muusikatoan-khmer.ro.glif</string>
	<key>muusikatoan-khmer.roLiga</key>
	<string>muusikatoan-khmer.roL_iga.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ngo-khmer</key>
	<string>ngo-khmer.glif</string>
	<key>ngo-khmer.below</key>
	<string>ngo-khmer.below.glif</string>
	<key>ngo_aaSign-khmer</key>
	<string>ngo_aaS_ign-khmer.glif</string>
	<key>ngo_auSign-khmer</key>
	<string>ngo_auS_ign-khmer.glif</string>
	<key>nikahit-khmer</key>
	<string>nikahit-khmer.glif</string>
	<key>nikahit-khmer.small</key>
	<string>nikahit-khmer.small.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine-khmer</key>
	<string>nine-khmer.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.numr</key>
	<string>nine.numr.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>nno-khmer</key>
	<string>nno-khmer.glif</string>
	<key>nno-khmer.below</key>
	<string>nno-khmer.below.glif</string>
	<key>nno-khmer.below.narrow1</key>
	<string>nno-khmer.below.narrow1.glif</string>
	<key>nno-khmer.below.narrow2</key>
	<string>nno-khmer.below.narrow2.glif</string>
	<key>nno_aaSign-khmer</key>
	<string>nno_aaS_ign-khmer.glif</string>
	<key>nno_auSign-khmer</key>
	<string>nno_auS_ign-khmer.glif</string>
	<key>no-khmer</key>
	<string>no-khmer.glif</string>
	<key>no-khmer.below</key>
	<string>no-khmer.below.glif</string>
	<key>no_aaSign-khmer</key>
	<string>no_aaS_ign-khmer.glif</string>
	<key>no_auSign-khmer</key>
	<string>no_auS_ign-khmer.glif</string>
	<key>northEastArrow</key>
	<string>northE_astA_rrow.glif</string>
	<key>northWestArrow</key>
	<string>northW_estA_rrow.glif</string>
	<key>nospace</key>
	<string>nospace.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nyo-khmer</key>
	<string>nyo-khmer.glif</string>
	<key>nyo-khmer.below</key>
	<string>nyo-khmer.below.glif</string>
	<key>nyo-khmer.full.below</key>
	<string>nyo-khmer.full.below.glif</string>
	<key>nyo-khmer.full.below.narrow</key>
	<string>nyo-khmer.full.below.narrow.glif</string>
	<key>nyo-khmer.less</key>
	<string>nyo-khmer.less.glif</string>
	<key>nyo_aaSign-khmer</key>
	<string>nyo_aaS_ign-khmer.glif</string>
	<key>nyo_aaSign-khmer.less</key>
	<string>nyo_aaS_ign-khmer.less.glif</string>
	<key>nyo_auSign-khmer</key>
	<string>nyo_auS_ign-khmer.glif</string>
	<key>nyo_auSign-khmer.less</key>
	<string>nyo_auS_ign-khmer.less.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>oeSign-khmer</key>
	<string>oeS_ign-khmer.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one-khmer</key>
	<string>one-khmer.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ooSign-khmer</key>
	<string>ooS_ign-khmer.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pha-khmer</key>
	<string>pha-khmer.glif</string>
	<key>pha-khmer.below</key>
	<string>pha-khmer.below.glif</string>
	<key>pha_aaSign-khmer</key>
	<string>pha_aaS_ign-khmer.glif</string>
	<key>pha_auSign-khmer</key>
	<string>pha_auS_ign-khmer.glif</string>
	<key>phnaekmuan-khmer</key>
	<string>phnaekmuan-khmer.glif</string>
	<key>pho-khmer</key>
	<string>pho-khmer.glif</string>
	<key>pho-khmer.below</key>
	<string>pho-khmer.below.glif</string>
	<key>pho-khmer.below.ro</key>
	<string>pho-khmer.below.ro.glif</string>
	<key>pho_aaSign-khmer</key>
	<string>pho_aaS_ign-khmer.glif</string>
	<key>pho_auSign-khmer</key>
	<string>pho_auS_ign-khmer.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>po-khmer</key>
	<string>po-khmer.glif</string>
	<key>po-khmer.below</key>
	<string>po-khmer.below.glif</string>
	<key>po-khmer.below.ro</key>
	<string>po-khmer.below.ro.glif</string>
	<key>po_aaSign-khmer</key>
	<string>po_aaS_ign-khmer.glif</string>
	<key>po_auSign-khmer</key>
	<string>po_auS_ign-khmer.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qa-khmer</key>
	<string>qa-khmer.glif</string>
	<key>qa-khmer.below</key>
	<string>qa-khmer.below.glif</string>
	<key>qa_aaSign-khmer</key>
	<string>qa_aaS_ign-khmer.glif</string>
	<key>qa_auSign-khmer</key>
	<string>qa_auS_ign-khmer.glif</string>
	<key>qai-khmer</key>
	<string>qai-khmer.glif</string>
	<key>qau-khmer</key>
	<string>qau-khmer.glif</string>
	<key>qe-khmer</key>
	<string>qe-khmer.glif</string>
	<key>qi-khmer</key>
	<string>qi-khmer.glif</string>
	<key>qii-khmer</key>
	<string>qii-khmer.glif</string>
	<key>qoo-khmer</key>
	<string>qoo-khmer.glif</string>
	<key>qooVariant-khmer</key>
	<string>qooV_ariant-khmer.glif</string>
	<key>qu-khmer</key>
	<string>qu-khmer.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quk-khmer</key>
	<string>quk-khmer.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quu-khmer</key>
	<string>quu-khmer.glif</string>
	<key>quuv-khmer</key>
	<string>quuv-khmer.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>reahmuk-khmer</key>
	<string>reahmuk-khmer.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>riel-khmer</key>
	<string>riel-khmer.glif</string>
	<key>rightArrow</key>
	<string>rightA_rrow.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ro-khmer</key>
	<string>ro-khmer.glif</string>
	<key>ro-khmer.pre</key>
	<string>ro-khmer.pre.glif</string>
	<key>ro-khmer.pre.narrow</key>
	<string>ro-khmer.pre.narrow.glif</string>
	<key>ro-khmer.pre.narrow.BRACKET.108</key>
	<string>ro-khmer.pre.narrow.B_R_A_C_K_E_T_.108.glif</string>
	<key>ro-khmer.pre2</key>
	<string>ro-khmer.pre2.glif</string>
	<key>ro_aaSign-khmer</key>
	<string>ro_aaS_ign-khmer.glif</string>
	<key>ro_auSign-khmer</key>
	<string>ro_auS_ign-khmer.glif</string>
	<key>robat-khmer</key>
	<string>robat-khmer.glif</string>
	<key>ry-khmer</key>
	<string>ry-khmer.glif</string>
	<key>ryy-khmer</key>
	<string>ryy-khmer.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sa-khmer</key>
	<string>sa-khmer.glif</string>
	<key>sa-khmer.post</key>
	<string>sa-khmer.post.glif</string>
	<key>sa_aaSign-khmer</key>
	<string>sa_aaS_ign-khmer.glif</string>
	<key>sa_aaSign-khmer.post_</key>
	<string>sa_aaS_ign-khmer.post_.glif</string>
	<key>sa_auSign-khmer</key>
	<string>sa_auS_ign-khmer.glif</string>
	<key>sa_auSign-khmer.post_</key>
	<string>sa_auS_ign-khmer.post_.glif</string>
	<key>samyoksannya-khmer</key>
	<string>samyoksannya-khmer.glif</string>
	<key>samyoksannya-khmer.ro</key>
	<string>samyoksannya-khmer.ro.glif</string>
	<key>samyoksannya-khmer.small</key>
	<string>samyoksannya-khmer.small.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven-khmer</key>
	<string>seven-khmer.glif</string>
	<key>seven.dnom</key>
	<string>seven.dnom.glif</string>
	<key>seven.numr</key>
	<string>seven.numr.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sha-khmer</key>
	<string>sha-khmer.glif</string>
	<key>sha-khmer.below</key>
	<string>sha-khmer.below.glif</string>
	<key>sha_aaSign-khmer</key>
	<string>sha_aaS_ign-khmer.glif</string>
	<key>sha_auSign-khmer</key>
	<string>sha_auS_ign-khmer.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six-khmer</key>
	<string>six-khmer.glif</string>
	<key>six.dnom</key>
	<string>six.dnom.glif</string>
	<key>six.numr</key>
	<string>six.numr.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slashlongcomb</key>
	<string>slashlongcomb.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>southEastArrow</key>
	<string>southE_astA_rrow.glif</string>
	<key>southWestArrow</key>
	<string>southW_estA_rrow.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sso-khmer</key>
	<string>sso-khmer.glif</string>
	<key>sso-khmer.post</key>
	<string>sso-khmer.post.glif</string>
	<key>sso_aaSign-khmer</key>
	<string>sso_aaS_ign-khmer.glif</string>
	<key>sso_aaSign-khmer.post_</key>
	<string>sso_aaS_ign-khmer.post_.glif</string>
	<key>sso_auSign-khmer</key>
	<string>sso_auS_ign-khmer.glif</string>
	<key>sso_auSign-khmer.post_</key>
	<string>sso_auS_ign-khmer.post_.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sterling.part</key>
	<string>sterling.part.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>ta-khmer</key>
	<string>ta-khmer.glif</string>
	<key>ta-khmer.below</key>
	<string>ta-khmer.below.glif</string>
	<key>ta-khmer.below.ro</key>
	<string>ta-khmer.below.ro.glif</string>
	<key>ta_aaSign-khmer</key>
	<string>ta_aaS_ign-khmer.glif</string>
	<key>ta_auSign-khmer</key>
	<string>ta_auS_ign-khmer.glif</string>
	<key>tha-khmer</key>
	<string>tha-khmer.glif</string>
	<key>tha-khmer.below</key>
	<string>tha-khmer.below.glif</string>
	<key>tha_aaSign-khmer</key>
	<string>tha_aaS_ign-khmer.glif</string>
	<key>tha_auSign-khmer</key>
	<string>tha_auS_ign-khmer.glif</string>
	<key>tho-khmer</key>
	<string>tho-khmer.glif</string>
	<key>tho-khmer.below</key>
	<string>tho-khmer.below.glif</string>
	<key>tho_aaSign-khmer</key>
	<string>tho_aaS_ign-khmer.glif</string>
	<key>tho_auSign-khmer</key>
	<string>tho_auS_ign-khmer.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three-khmer</key>
	<string>three-khmer.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tittle</key>
	<string>tittle.glif</string>
	<key>to-khmer</key>
	<string>to-khmer.glif</string>
	<key>to-khmer.below</key>
	<string>to-khmer.below.glif</string>
	<key>to_aaSign-khmer</key>
	<string>to_aaS_ign-khmer.glif</string>
	<key>to_auSign-khmer</key>
	<string>to_auS_ign-khmer.glif</string>
	<key>toandakhiat-khmer</key>
	<string>toandakhiat-khmer.glif</string>
	<key>toandakhiat-khmer.ro</key>
	<string>toandakhiat-khmer.ro.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>triisap-khmer</key>
	<string>triisap-khmer.glif</string>
	<key>triisap-khmer.small</key>
	<string>triisap-khmer.small.glif</string>
	<key>ttha-khmer</key>
	<string>ttha-khmer.glif</string>
	<key>ttha-khmer.below</key>
	<string>ttha-khmer.below.glif</string>
	<key>ttha_aaSign-khmer</key>
	<string>ttha_aaS_ign-khmer.glif</string>
	<key>ttha_auSign-khmer</key>
	<string>ttha_auS_ign-khmer.glif</string>
	<key>ttho-khmer</key>
	<string>ttho-khmer.glif</string>
	<key>ttho-khmer.post</key>
	<string>ttho-khmer.post.glif</string>
	<key>ttho_aaSign-khmer</key>
	<string>ttho_aaS_ign-khmer.glif</string>
	<key>ttho_aaSign-khmer.post_</key>
	<string>ttho_aaS_ign-khmer.post_.glif</string>
	<key>ttho_auSign-khmer</key>
	<string>ttho_auS_ign-khmer.glif</string>
	<key>ttho_auSign-khmer.post_</key>
	<string>ttho_auS_ign-khmer.post_.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two-khmer</key>
	<string>two-khmer.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uMark-khmer</key>
	<string>uM_ark-khmer.glif</string>
	<key>uMark-khmer.below2</key>
	<string>uM_ark-khmer.below2.glif</string>
	<key>uaMark-khmer</key>
	<string>uaM_ark-khmer.glif</string>
	<key>uaMark-khmer.below2</key>
	<string>uaM_ark-khmer.below2.glif</string>
	<key>uaMark-khmer.ro</key>
	<string>uaM_ark-khmer.ro.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>upDownArrow</key>
	<string>upD_ownA_rrow.glif</string>
	<key>uuMark-khmer</key>
	<string>uuM_ark-khmer.glif</string>
	<key>uuMark-khmer.below2</key>
	<string>uuM_ark-khmer.below2.glif</string>
	<key>uuMark-khmer.ro</key>
	<string>uuM_ark-khmer.ro.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>viriam-khmer</key>
	<string>viriam-khmer.glif</string>
	<key>vo-khmer</key>
	<string>vo-khmer.glif</string>
	<key>vo-khmer.below</key>
	<string>vo-khmer.below.glif</string>
	<key>vo_aaSign-khmer</key>
	<string>vo_aaS_ign-khmer.glif</string>
	<key>vo_auSign-khmer</key>
	<string>vo_auS_ign-khmer.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>whiteCircle</key>
	<string>whiteC_ircle.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yMark-khmer</key>
	<string>yM_ark-khmer.glif</string>
	<key>yMark-khmer.narrow</key>
	<string>yM_ark-khmer.narrow.glif</string>
	<key>yMark-khmer.small</key>
	<string>yM_ark-khmer.small.glif</string>
	<key>yaSign-khmer</key>
	<string>yaS_ign-khmer.glif</string>
	<key>yaSign-khmer.below2</key>
	<string>yaS_ign-khmer.below2.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yo-khmer</key>
	<string>yo-khmer.glif</string>
	<key>yo-khmer.post</key>
	<string>yo-khmer.post.glif</string>
	<key>yo-khmer.post2</key>
	<string>yo-khmer.post2.glif</string>
	<key>yo_aaSign-khmer</key>
	<string>yo_aaS_ign-khmer.glif</string>
	<key>yo_aaSign-khmer.post2_</key>
	<string>yo_aaS_ign-khmer.post2_.glif</string>
	<key>yo_aaSign-khmer.post_</key>
	<string>yo_aaS_ign-khmer.post_.glif</string>
	<key>yo_auSign-khmer</key>
	<string>yo_auS_ign-khmer.glif</string>
	<key>yo_auSign-khmer.post2_</key>
	<string>yo_auS_ign-khmer.post2_.glif</string>
	<key>yo_auSign-khmer.post_</key>
	<string>yo_auS_ign-khmer.post_.glif</string>
	<key>yuukaleapintu-khmer</key>
	<string>yuukaleapintu-khmer.glif</string>
	<key>yyMark-khmer</key>
	<string>yyM_ark-khmer.glif</string>
	<key>yyMark-khmer.narrow</key>
	<string>yyM_ark-khmer.narrow.glif</string>
	<key>yyMark-khmer.small</key>
	<string>yyM_ark-khmer.small.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero-khmer</key>
	<string>zero-khmer.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
	<key>zero.numr</key>
	<string>zero.numr.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
	<key>zerowidthspace</key>
	<string>zerowidthspace.glif</string>
</dict>
</plist>
