<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>900</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>copyright</key>
    <string>Copyright 2022 The Kantumruy Project Authors (https://www.github.com/sovichet/kantumruy-pro)</string>
    <key>descender</key>
    <integer>-330</integer>
    <key>familyName</key>
    <string>Kantumruy Pro</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>270</integer>
        <key>x</key>
        <integer>76</integer>
        <key>y</key>
        <integer>124</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>270</integer>
        <key>x</key>
        <integer>76</integer>
        <key>y</key>
        <integer>124</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-49</integer>
        <key>y</key>
        <integer>606</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>229</integer>
        <key>y</key>
        <integer>189</integer>
      </dict>
      <dict>
        <key>y</key>
        <integer>670</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2021/12/18 08:41:23</string>
    <key>openTypeHheaAscender</key>
    <integer>920</integer>
    <key>openTypeHheaDescender</key>
    <integer>-260</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Sovichet Tep</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://anagata.design</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Sovichet Tep</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://anagata.design</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>920</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-260</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>5</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>80</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ANGT</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1020</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>468</integer>
    <key>postscriptBlueScale</key>
    <real>0.06196</real>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-50</integer>
      <integer>-40</integer>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>511</integer>
      <integer>606</integer>
      <integer>616</integer>
      <integer>660</integer>
      <integer>671</integer>
      <integer>730</integer>
      <integer>751</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-268</integer>
      <integer>-258</integer>
      <integer>-216</integer>
      <integer>-210</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>120</integer>
      <integer>128</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>170</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Kantumruy Pro</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>550</integer>
  </dict>
</plist>
