<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
	</array>
	<key>public.kern1.KO_divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>public.kern1.KO_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern1.KO_euro</key>
	<array>
		<string>euro</string>
	</array>
	<key>public.kern1.KO_minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>public.kern1.KO_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern1.KO_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>public.kern1.KO_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.copyright</key>
	<array>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>public.kern1.eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern1.eightsuperior</key>
	<array>
		<string>eightsuperior</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern1.fivesuperior</key>
	<array>
		<string>fivesuperior</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.foursuperior</key>
	<array>
		<string>foursuperior</string>
	</array>
	<key>public.kern1.fraction</key>
	<array>
		<string>fraction</string>
		<string>divisionslash</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
	</array>
	<key>public.kern1.guilsinglleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guilsinglright</key>
	<array>
		<string>guillemetright</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.onesuperior</key>
	<array>
		<string>onesuperior</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>minute</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.sevensuperior</key>
	<array>
		<string>sevensuperior</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern1.sixsuperior</key>
	<array>
		<string>sixsuperior</string>
	</array>
	<key>public.kern1.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern1.threesuperior</key>
	<array>
		<string>threesuperior</string>
	</array>
	<key>public.kern1.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.twosuperior</key>
	<array>
		<string>twosuperior</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>jdotless</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>public.kern1.zero.dnom</key>
	<array>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
	</array>
	<key>public.kern1.zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
	</array>
	<key>public.kern1.zerosuperior</key>
	<array>
		<string>zerosuperior</string>
		<string>ninesuperior</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern2.AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.KO_divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>public.kern2.KO_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern2.KO_euro</key>
	<array>
		<string>euro</string>
	</array>
	<key>public.kern2.KO_minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>public.kern2.KO_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern2.KO_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>public.kern2.KO_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>ae</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.copyright</key>
	<array>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>public.kern2.eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern2.eightsuperior</key>
	<array>
		<string>eightsuperior</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern2.fivesuperior</key>
	<array>
		<string>fivesuperior</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.foursuperior</key>
	<array>
		<string>foursuperior</string>
	</array>
	<key>public.kern2.fraction</key>
	<array>
		<string>fraction</string>
		<string>divisionslash</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
	</array>
	<key>public.kern2.guilsinglleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guilsinglright</key>
	<array>
		<string>guillemetright</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
	</array>
	<key>public.kern2.l</key>
	<array>
		<string>l</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>jdotless</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>public.kern2.nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern2.ninesuperior</key>
	<array>
		<string>ninesuperior</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.onesuperior</key>
	<array>
		<string>onesuperior</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>minute</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.sevensuperior</key>
	<array>
		<string>sevensuperior</string>
	</array>
	<key>public.kern2.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern2.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern2.three</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern2.threesuperior</key>
	<array>
		<string>threesuperior</string>
	</array>
	<key>public.kern2.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern2.twosuperior</key>
	<array>
		<string>twosuperior</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>public.kern2.zero.dnom</key>
	<array>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
	</array>
	<key>public.kern2.zero.numr</key>
	<array>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zerosuperior</string>
	</array>
	<key>public.kern2.zerosuperior</key>
	<array>
		<string>sixsuperior</string>
	</array>
</dict>
</plist>
